
  <div class="container">


    <ng-container body>
        <p class="head" *ngIf=" data.buttonType== 'create-button'">Создать запись</p>
        <p class="head" *ngIf="data.buttonType == 'edit-button'">Редактировать запись</p>

        <div class="select-wrapper" *ngIf="data.buttonType == 'edit-button'">
          <p class="text">Статус: </p>
          <app-mar-select class="select" [label]="data.itemData.status" [typeVariants]='typesStatus' (typeSelectOption)='getSelectOptionStatus($event)'></app-mar-select>
        </div>
        <div class="select-wrapper">
          <p class="text">Вид животного: </p>
          <app-mar-select class="select" [label]="data.itemData.pet_type" [typeVariants]='typesAnimals' (typeSelectOption)='getSelectOptionAnimal($event)'></app-mar-select>
        </div>
        <div class="wrapper">
          <p class="text">Кличка питомца: </p>
          <input #textInput_pet class="textarea" type="text" value={{data.itemData.pet_name}}>
        </div>
        <div class="wrapper">
          <p class="text">Хозяин: </p>
          <input #textInput_name class="textarea" type="text" value={{data.itemData.owner_name}}>
        </div>
        <div class="wrapper">
          <p class="text">Номер хозяина: </p>
          <input #textInput_phone class="textarea" type="text" value={{data.itemData.owner_number}}>
        </div>
        <div class="wrapper">
          <p class="text">Описание: </p>
          <textarea #textInput_description class="textarea description">{{data.itemData.description}}</textarea>
        </div>
      </ng-container>

      <ng-container footer>
        <div class="button-wrapper" *ngIf="data.buttonType == 'create-button'">
          <button (click)="saveAppointmentData(textInput_pet.value,
                                              textInput_name.value,
                                              textInput_phone.value,
                                              textInput_description.value)">Создать</button>
        </div>

        <div class="button-wrapper" *ngIf="data.buttonType == 'edit-button'">
          <button (click)="editAppointmentData(data.itemData,
                                              textInput_pet.value,
                                              textInput_name.value,
                                              textInput_phone.value,
                                              textInput_description.value
                                               )">Редактировать</button>
        </div>
      </ng-container>

    </div>



