//статус

.IsYellow {
  background-color: yellow;
}

.IsGreen {
  background-color: #32CD32;
}

.IsRed {
  background-color: red;
}

.IsBlue {
  background-color: #00BFFF;
}

.status {
  border-radius: 25px;
  width: 12px;
  height: 100%;

}

// аватарки

.picture {
  background-size: contain;
  width: 55px;
  height: 55px;
  border-radius: 30px;
}

.IsParrot {
  background-image: url(./../../../../../img/parrot.jpg);
}

.IsHamster {
  background-image: url(./../../../../../img/hamster.jpg);
}

.IsDog {
  background-image: url(./../../../../../img/dog.jpg)
}

.IsCat {
  background-image: url(./../../../../../img/cat.jpg);
}

