<div class="container">

    <ng-content select='[body]'></ng-content>
    <ng-content select='[footer]'></ng-content>


</div>


  <!-- <div class="window">
    <div>
      <div class="head">{{data.head}}</div>
    </div>

    <div *ngFor="let item of data.body, let i = index" >
      <div class="wrapper">
        <div>{{item.name}}</div>
        <div *ngIf="item.type=='text'">
          <input id="blabla-{{i}}" class="textarea" type="text">
        </div>
        <div *ngIf="item.type=='select' && item.name=='Статус'">
          <app-mar-select class="textarea" [typeVariants]='typesStatus'></app-mar-select>
        </div>
        <div *ngIf="item.type=='select' && item.name=='Вид животного'">
          <app-mar-select class="textarea" [typeVariants]='typesAnimals'></app-mar-select>
        </div>
      </div>

    </div>

    <div footer>
      <div class="button-wrapper">
        <button (click)="saveAppointmentData()">Создать</button>
      </div>
    </div> -->


  <!-- </div> -->
<!-- </div> -->

