<div class='head'>
  <ng-container *ngFor='let column of settings.columns'>
    <div *ngIf="column.visible">
      {{column.caption}}
    </div>
  </ng-container>
</div>

<div>
  <div id="wrap" class="wrapper" *ngFor="let dat of settings.data">
    <ng-container *ngFor="let column of settings.columns">
      <app-mar-grid-template *ngIf="column.visible" [data]='dat[column.dataField]' [column]="column"></app-mar-grid-template>
    </ng-container>

    <div>
      <app-mar-edit-button title='Редактировать'></app-mar-edit-button>
    </div>

    <div>
      <app-mar-delete-button title='Удалить'></app-mar-delete-button>
    </div>

  </div>
</div>
